
/* START PAGE */
/* START PAGE */
/* START PAGE */

.startButton {
    height:100px;
    width:400px;
    color:white;
    border: 10px solid white;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    position:absolute;
    top:300px;
    left:400px;
    font-size:280%;
    font-weight:bold;
    background-color:rgb(83, 82, 82)
}


.startButton:hover {
    color:yellow;
    border-radius: 40px;
    border-color: yellow;
    transition: all 0.3s ease 0s;
}

.startImg {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    z-index:-100;
}



/* WIN LOSE AND DRAW PAGES */
/* WIN LOSE AND DRAW PAGES */
/* WIN LOSE AND DRAW PAGES */

.heroesWin {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:-100;
}

body{
    overflow: hidden;
}

.resultHeading{
    color: blue;
    margin: auto;
    text-align: center;  
}

.villainsWin {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    z-index:-100;
}
.draw {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    z-index:-100;
}