
/* START PAGE */
/* START PAGE */
/* START PAGE */

.startButton {
    height:100px;
    width:400px;
    color:white;
    border: 10px solid white;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size:280%;
    font-weight:bold;
    background-color:rgba(250, 248, 248, 0.24);
    /* margin-top:50vh; */
    margin-top:20%;
}


.container {
    width: 100%;
    height:100%;
    text-align: center;
    vertical-align: middle
}

.startButton:hover {
    color:yellow;
    border-radius: 40px;
    border-color: yellow;
    transition: all 0.3s ease 0s;
    background-color:rgba(128, 128, 128, 0.507)
}

.startImg {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:-100;
}

/* .startWrapper {
    text-align: justify;
} */



/* WIN & LOSE & DRAW  */
/* WIN & LOSE & DRAW  */
/* WIN & LOSE & DRAW  */
   

/* css below is for routes win lose and draw */
.heroesWin {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:-100;
}

body{
    overflow: hidden;
    width:100%;
    height:100%;
}

.resultHeading{
    color:white;
    border: 10px solid white;
    border-radius: 6px;
    margin: auto;
    text-align: center;
    font-size:280%;
    font-weight:bold;
    background-color:rgb(83, 82, 82) 
}

.villainsWin {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    z-index:-100;
}
.draw {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    z-index:-100;
}